# Archivos que no quiero tener control de version
A tener en cuenta para el proyecto.txt

Estructura del proyecto.txt

Guia de desarrollo.txt

node_modules/

docs/

.env

Mockups Gerencias.pdf

Archivos Mockups JK